[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.3"
psycopg2 = "*"
djangorestframework = "*"
markdown = "*"
requests = "*"
regex = "*"
unidecode = "*"
bs4 = "*"
soupsieve = "*"
django-extensions = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"

[requires]
python_version = "3.10"
